<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>FritzGPT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('.static', filename='favicon.png') }}">
</head>
<body>
<main class="container">
    <h1>🤖 FritzGPT - Chat</h1>
    <h4>Chat-ID: {{ chat_id }}</h4>
    {% for message in chat_history %}
        {% if loop.index % 2 == 0 %}
            <div class="left">
                <p>{{ message }}</p>
            </div>
        {% else %}
            <div class="right">
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
    <form id="chat-form">
        <label for="input">Message:</label>
        <input type="text" id="chat-input" name="input" required>
        <button type="submit">Submit</button>
    </form>
</main>
<script>
    const form = document.getElementById('chat-form');
    const input = document.getElementById('chat-input');

    form.addEventListener('submit', event => {
        event.preventDefault();
        const message = input.value.trim();
        input.value = '';

        fetch('/chat/{{ chat_id }}/response', {
            method: 'POST',
            body: JSON.stringify({ message: message, history: {{ chat_history|tojson }} }),
            headers: { 'Content-Type': 'application/json' }
        })
        .then(response => response.json())
        .then(data => {
            const chatHistory = document.querySelector('main');
            const div = document.createElement('div');
            div.className = 'left';
            const p = document.createElement('p');
            p.textContent = data.response;
            div.appendChild(p);
            chatHistory.appendChild(div);
        })
        .catch(error => console.error(error));
    });
</script>
</body>


